/* 
    Created on : 01-mar-2016, 18:34:15
    Author     : EduardoAC <Eduardo Aparicio Cardenes at Dream Maker Factory>
*/

.game-console.orange-g{
    background: rgba(248,182,0,1);
    background: -moz-linear-gradient(left, rgba(248,182,0,1) 0%, rgba(255,194,51,1) 70%, rgba(248,182,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,182,0,1)), color-stop(70%, rgba(255,194,51,1)), color-stop(100%, rgba(248,182,0,1)));
    background: -webkit-linear-gradient(left, rgba(248,182,0,1) 0%, rgba(255,194,51,1) 70%, rgba(248,182,0,1) 100%);
    background: -o-linear-gradient(left, rgba(248,182,0,1) 0%, rgba(255,194,51,1) 70%, rgba(248,182,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,182,0,1) 0%, rgba(255,194,51,1) 70%, rgba(248,182,0,1) 100%);
    background: linear-gradient(to right, rgba(248,182,0,1) 0%, rgba(255,194,51,1) 70%, rgba(248,182,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b600', endColorstr='#f8b600', GradientType=1 );
}
.col-left{
    height: 250px;
}
.col-right{
    height: 250px;
}
.game-console{
    width: 100%;
    background: #DDD;
    height: 250px;
}
ul.log-game {
    height: 190px;
    margin: 5px 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #666;
    overflow: auto;
}
li.success{
    color: #3c763d;
}
li.info{
    color: #31708f;
}
button{
    width: 100%;
    height: 39px;
    padding: 5px 0;
}
@media screen and (min-width: 768px){
    .col-left{
        width: 49%;
        margin-right: 2%;
        float: left;
    }
    .col-right{
        width: 49%;
        float: left;
    }
    .game-console{
        background: #DDD;
        height: 230px;
        margin: 10px 0;
        width: 100%;
        /* display: block; */
    }
    ul.log-game {
        height: 180px;
        margin: 10px 0;
        padding: 0;
        background: #FFF;
        border: 1px solid #666;
    }

}
